<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/blog">Developer Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/addentry">Create Entry </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/asset">Resources</a>
                </li>
                <li class="nav-item nav">
                    <a class="nav-link" href="/blog">Hi {{user.first_name}} {{user.last_name}}!</a>
                </li>
                <li class="nav-item nav">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div  class="container">
        <div class="row">
          <div class="col-sm-10">
          
            <h4>Eric Smtih March 31 2021</h4><br>
            <p>Finished up Freecodecamp.org Basic Html adn HTML5 lessons. Hopefully will start CSS tomorrow. Started reading "Javascript: The Good Parts." It is an older book but a developer who I knew said even though it is outdated it is a good read. Might be a little above my head at this point, it is a short book and will try to get through it. Commented out the template for this log and added Music to the journal.</p>
            <p>Tried to get more reading and coding in but life, still got a fair bit in though. How the fuck did I not know Chelsea Wolfe existed?</p>
            <p>Chelsea Wolfe - just a mix of her stuff. https://open.spotify.com/artist/6ZK2nrW8aCTg8Bid7I7N10?si=0i76260OR8ipWeAn5aL5tA</p>
            <p>https://www.freecodecamp.org/learn/responsive-web-design/basic-css/

                https://codepen.io/Bender_Meemoo
                
                https://twitter.com/Bender_meemoo/status/1193713851121967105</p>
          </div>
        </div>
       </div>
     

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>